body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

h1 {
    color: #333;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.result-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.image-preview img, .prediction-result img {
    max-width: 300px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
}

.prediction-result h2 {
    color: #007bff;
}

.chicken-animation img {
    width: 100px;
}

a {
    text-decoration: none;
    color: #007bff;
}
